{% comment %} {{ 'tests.js' | asset_url | stylesheet_tag }} {% endcomment %}

{% style %}

  .sharelock-snippet{
      display: none;
      width: 100%;
      margin: 0;
      padding-top: {{ block.settings.padding_top }}%;
      padding-bottom: {{ block.settings.padding_bottom }}%;
      font-family: inherit; 
  }
  .context-text{
      line-height: normal;
  }
  .context-text h4{
    margin: 0;
    font-weight: bold;
  }
  .context-text h5{
    margin: 1% 0;
  }
  .context-text a{
    color : {{ block.settings.colour }};
  }
  .offers{
      display: flex;
      justify-content: space-between;
      padding: 0; 
      width: 100%;
      gap: 5px;
  }
  .offer{
      min-width: 30%;
      display: grid;
      justify-content: center;
      margin-top: 5%;
      padding: 2% 5%;
      color: black;
      border-radius: {{ block.settings.border_radius }}px;
      border: {{ block.settings.border }}px solid {{ block.settings.colour }};
  }
  .offer:hover, .active-offer{
      color: white;
      background-color: {{ block.settings.colour }};
  }
  
{% endstyle %}

<span id="page_product_id">
 {{ product.id }} 00123412
  </span> 
<div id="sharelock-snippet" class="sharelock-snippet">
  <div class="context-text">
      <h4>{{ block.settings.context_text }}</h4>
      <h5><a href="#">{{ block.settings.link_label }}</a></h5>
  </div>
  <div class="offers"> 
      <div class="offer">
          <div class="offer-term">1 an</div>
          <div class="offer-price">229€</div>
      </div>
      <div class="offer">
          <div class="offer-term">2 ans</div>  
          <div class="offer-price">459€</div>
      </div>
      <div class="offer">
          <div class="offer-term">3 ans</div>
          <div class="offer-price">599,99€</div>
      </div>
  </div>
</div>


{% schema %}
{
  "name": "Assurance Sharlock",
  "target": "section",
  "stylesheet": "style.css",
  "javascript": "tests.js",
  "settings": [
    { "type": "text", "id": "context_text", "label": "Texte", "default": "Sécurisez votre vélo dans toute la france avec Sharelock !" },
    { "type": "text", "id": "link_label", "label": "Texte du lien", "default": "En savoir plus" },
    { "type": "color", "id": "colour", "label": "Couleur", "default": "#0f7a2f" },
    { "type": "range", "id": "padding_top", "min": 0, "max": 40, "unit": "%", "label": "Marge Supérieure", "default": 0 },
    { "type": "range", "id": "padding_bottom", "min": 0, "max": 40, "unit": "%", "label": "Marge Inférieure", "default": 0 },
    { "type": "range", "id": "border", "min": 0, "max": 10, "unit": "px", "label": "Epaisseur des bordures", "default": 2 },
    { "type": "range", "id": "border_radius", "min": 0, "max": 50, "unit": "px", "label": "Arrondi des bordures", "default": 5 }
  ]
}
{% endschema %}

<script src="../assets/tests.js"> 
  console.log('fileContent')
</script>
<script>

  let offers = document.getElementsByClassName('offer');
  
  for (var i=0; i<offers.length; i++){
    offers[i].addEventListener('click', function() {
      for(var j=0; j<offers.length; j++){
          offers[j].classList.remove('active-offer');
      }
      
      this.classList.add('active-offer')
    })
  }
  
  let product_idm = '8278622863657' 
  

  const sharelock_snippet = document.querySelector('.sharelock-snippet');
  const page_product_id = document.getElementById("page_product_id").textContent;
  console.log('file')
  console.log(fileContent)
    for (const product_id of fileContent) {
    if(product_id === '8278622863657'){
      
      sharelock_snippet.style.display = 'grid';
      console.log(product_id)
    }else{
     {% comment %} console.log(product_id)   {% endcomment %}
    }
  }  
    
</script>
